### Naming Variables with PEP 8

Use lowercase and underscores to split words. Even if it's an abbreviation.

In [ ]:
coef_ols = 1  # yes!
coefols = 1   # no
coefOLS = 1   # no, that's from Java

If you define a constant, use uppercases

In [ ]:
SPEED_OF_LIGHT = 299792458

Avoid names of one letter that could be easily mixed up with numbers like `l`, `O`, or `I`.

In [3]:
l = 1    # no
O = 100  # no, if you use this variable name further in your code it would look like zero

If the most suitable variable name is some Python keyword, add an underscore to the end of it.

In [4]:
var = 'string!'
class_ = type(var)  # yes!
class = type(var)   # returns an error

SyntaxError: invalid syntax (<ipython-input-4-c981f8de2301>, line 3)

The variable name must be readable, descriptive and informative

In [5]:
score = 1  # yes!
s = 1      # no

In [6]:
count = 1  # yes!
n = 1      # no

Don't use too generic names. Try to choose a name that will explain the meaning of the variable. But don't make it too wordy. 1-3 words are usually enough.

In [7]:
http_response = '/enc'                  # yes!
var1 = '/enc'                           # no
http_response_from_the_server = '/enc'  # no, some words can be dropped

If a word is long, try to find the most common and expected short form to make it be guessed easily later.

|||
|-|-|
|`output_file_path`  | yes!|
|`fpath`             | no|
|`output_flpth`      | no|

Avoid names from the built-in types list.

In [8]:
str = 'Hello!'
str(231241)

TypeError: 'str' object is not callable

In [9]:
del str

### Reading numbers using user input

In [11]:
integer = int(input())
floating_point = float(input())
print(f'You entered {integer} and {floating_point}.')

 1
 1.3

You entered 1 and 1.3.

<img src="" alt="BMI" width="400">

In [16]:
weight = float(input('Weight:'))
height = float(input('Height:'))
print(f'Your BMI is {round(weight / (height/100)**2, 3)}')

Weight: 63
Height: 170

Your BMI is 21.799

### Comparison operators

Comparison or relation operations let you compare two values and determine the relation between them. There are ten comparison operators in Python:

|operator|meaning|
|-|-|
|`<`|strictly less than|
|`<=`|less than or equal|
|`>`|strictly greater than|
|`>=`|greater than or equal|
|`==`|equal|
|`!=`|not equal|
|`is`|object identity|
|`is not`|negated object identity|
|`in`|membership|
|`not in`|negated membership|

In [18]:
3 in [1, 2, 3, 4]

True

In [22]:
11 in [1, 3, 9]

False

In [80]:
l1 = []
l2 = l1
l1 is l2

True

In [81]:
l1 = []
l2 = []
l1 is l2

False

In Python, you can do complex comparisons called chaining. 

For example, x < y <= z is almost equivalent to the expression you saw in the last example. The difference is that y evaluated only once.

In [32]:
10**1 < 10**3 >= 10**2

True

### Control Statement 1. `if`

In [38]:
biscuits = 17
if biscuits >= 5:
    print("It's time for tea!")

It's time for tea!

Note that the condition ends with a colon and a new line starts with an indentation.\
Usually, 4 spaces are used to separate different blocks of code.\
An if statement is executed only if its condition holds (the Boolean value is `True`), otherwise, it's skipped.

nested `if` statements

In [39]:
rainbow = "red, orange, yellow, green, blue, indigo, violet"
warm_colors = "red, yellow, orange"
my_color = "orange"
 
if my_color in rainbow:
    print("Wow, your color is in the rainbow!")
    if my_color in warm_colors:
        print("Oh, by the way, it's a warm color.")

Wow, your color is in the rainbow!
Oh, by the way, it's a warm color.

### Control Statement 2. `if else`

In [58]:
today = 'weekday'
if today == "holiday":
    print("Lucky you!")
else:
    print("Keep your chin up, then.")

Keep your chin up, then.

### `elif`

In [68]:
pet = 'dog'
 
# cats vs dogs conditional
if pet == 'cat':
    print('Oh, you are a cat person. Meow!')
elif pet == 'dog':
    print('Oh, you are a dog person. Woof!')

Oh, you are a dog person. Woof!

#### first_alternative `if` condition `else` second_alternative

In [59]:
sun = True
print("It’s a day now!" if sun else "It’s a night for sure!")

It’s a day now!

In [63]:
x = 149

if x < 100:
    print('x < 100')
else:
    if x == 100:
        print('x = 100')
    else:
        print('x > 100')
    print('This will be printed only because x >= 100')

x > 100
This will be printed only because x >= 100

In [65]:
dictionary = ["aa", "abab", "aac", "ba", "bac", "baba", "cac", "caac"]
word = input()
if word in dictionary:
    print('Correct')
else:
    print('Incorrect')

 aab

Incorrect

#### Quiz
>Write a program that checks if a year is leap.\
A year is considered leap if it is divisible by 4 and NOT divisible by 100, or if it is divisible by 400. So, 2000 is leap and 2100 isn't.\
The program should work correctly on the numbers 1900≤n≤3000.\
Output either "Leap" or "Ordinary" depending on the input.

In [67]:
n = int(input())
print('Leap' if n % 4 == 0 and (n % 100 != 0 or n % 400 == 0) else 'Ordinary')

 2000

Leap

## Loops
There are two types of iteration:

>Definite iteration, where the number of repetitions is stated in advance.

>Indefinite iteration, where the code block executes as long as the condition stated in advance is true.

After the first iteration, the program comes back to the beginning of the code’s body and repeats it, making the so-called loop.\
The most used one is the `for` loop, named after the `for` operator that provides the code’s execution.

In [1]:
oceans = ['Atlantic', 'Pacific', 'Indian', 'Southern', 'Arctic']
for ocean in oceans:
    print(ocean)

Atlantic
Pacific
Indian
Southern
Arctic

We call this type of data *iterable*.

In [2]:
for char in 'magic':
    print(char)

m
a
g
i
c

The `range()` function is used to specify the number of iterations. 

It returns a sequence of numbers from `0` (by default) and ends at a specified number. 

Be careful: the last number won’t be in the output.

In [3]:
for i in range(5,30,5):
    print(i)

5
10
15
20
25

In [4]:
names = ['Rose', 'Daniel']
surnames = ['Miller']
for name in names:
    for surname in surnames:
         print(name, surname)

Rose Miller
Daniel Miller

#### using `break`

In [5]:
pets = ['dog', 'cat', 'parrot']
for pet in pets:
    print(pet)
    if pet == 'cat':
        break

dog
cat

#### Using `continue`

In [14]:
nums = [1, 2, 3, 4, 5]
for num in nums:
    if num == 3:
        print('continue next iteration:')
        continue
    print(num)

1
2
continue next iteration:
4
5

#### Loop else clause

In [19]:
pancakes = 3
while pancakes > 0:
    print("I'm the happiest human being in the world!")
    pancakes -= 1
    if pancakes == 0:
        print("Now I have no pancakes!")
        break
else:
    print("No pancakes...")

I'm the happiest human being in the world!
I'm the happiest human being in the world!
I'm the happiest human being in the world!
Now I have no pancakes!

In [20]:
i = 0
s = 0
while i < 10:
    i = i + 1
    s = s + i
    if s > 15:
        break
    i = i + 1

In [21]:
i

7

### `while` loop

![](https://ucarecdn.com/d148d035-d10e-45fe-a404-4ce315c422b8/)

In [40]:
number = 0
while number < 5:
    print(number)
    number += 1
print('Now, number is greater than or equal to 5')

0
1
2
3
4
Now, number is greater than or equal to 5

In [35]:
count = 0
while 1:
    print("I am Infinite Loop")
    count += 1
    if count == 8:
        break

I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop
I am Infinite Loop

In [56]:
user = input('Please type your request among (push/pull/exit):')
while user != 'exit':
    if user == 'push':
        print('''
        push request accomplished!
        ''')
    elif user == 'pull':
        print('''
        pull request accomplished!
        ''')
    user = input('What is your next request? (push/pull/exit)')
print('''
=`==`==`==`==`==`==`[SERVICE TERMINATED]`==`==`==`==`==`==`==`=

Thank you for using our service. We hope to see you again soon.

=`==`==`==`==`==`==`==`==`==`==`==`==`==`==`==`==`==`==`==`==`=
''')

Please type your request among (push/pull/exit): push

        push request accomplished!

What is your next request? (push/pull/exit) pull

        pull request accomplished!

What is your next request? (push/pull/exit) exit

=`==`==`==`==`==`==`[SERVICE TERMINATED]`==`==`==`==`==`==`==`=

Thank you for using our service. We hope to see you again soon.

=`==`==`==`==`==`==`==`==`==`==`==`==`==`==`==`==`==`==`==`==`=

### Check whether a number is prime

Determine whether the input number is a prime number. Remember that any prime number is greater than 1.

The output options:

>This number is prime

>This number is not prime

Sample Input 1:\
`1`

Sample Output 1:\
`This number is not prime`

Sample Input 2:\
`7`

Sample Output 2:\
`This number is prime`

In [31]:
def isprime(x):
    if x < 2:  # negative numbers, 0 and 1 are not prime
        return False
    for i in range(2, x):
        if not x % i:
            return False
    return True


if isprime(int(input())):
    print("This number is prime")
else:
    print("This number is not prime")

 137

This number is prime