# Python Data Structures

![](http://res.cloudinary.com/dyd911kmh/image/upload/c_scale,f_auto,q_auto:best,w_700/v1512740202/Template_2_oxrskq.png)

## Primitive Data Structures

1. `int` is an integer.
2. `float` is a floating number or decimal number.
3. `str` contains characters.
4. `bool` is a logic(True or False).

## Floats

In [1]:
type(13)

int

In [2]:
type(13.0)

float

In [4]:
type(0)

int

In [5]:
type(.0)

float

In [10]:
type(1/3)

float

In [14]:
2 + 1

3

If your arithmetic combines integers and floats, you will get float result.

In [90]:
2 + 1.

3.0

In [91]:
21 * 30

630

In [92]:
21. * 30

630.0

In [93]:
3/0

ZeroDivisionError: division by zero

>division by zero is **ALWAYS** impossible.

`__builtins__.float` has a method which checks if the given number is of float type.

In [97]:
__builtins__.float()

0.0

In [25]:
float.is_integer(3.)

True

In [28]:
float.is_integer(.0)

True

In [29]:
float.is_integer(-1.9)

False

In [34]:
a = 1.32
a.is_integer()

False

`float` also can express complex numbers!

In [44]:
complex_number = 2 + 1.32j
complex_number.real

2.0

In [43]:
complex_number.imag

1.32

In [46]:
complex_number.conjugate()

(2-1.32j)

Priorities of arithmetics
>1. parantheses `()`

>2. power `**`

>3. unary minus `-`

>4. `*`, `/`, `//`, `%`

>5. `+`, `-`

[PEP 8](https://www.python.org/dev/peps/pep-0008/) recommends to break line before a binary operation.

`income = (gross_wages
          + taxable_interest
          + (dividends - qualified_dividends)
          - ira_deduction
          - student_loan_interest)`

`-=, *=, /=, //=, %=, **=` are called compound assignment operators.

In [98]:
a = 10
a *= 10
a

100

In [99]:
a = 0
while a < 10: # stops at first fail
    a += 3
    print(a)

3
6
9
12

## Strings

1. Using `"`

In [36]:
"Hello World"

'Hello World'

2. Using `'`

In [100]:
'Python is fun'

'Python is fun'

3. Using `"""`

In [101]:
"""Life is too short, You need python"""

'Life is too short, You need python'

4. Using `'''`

In [35]:
'''Life is too short, You need python'''

'Life is too short, You need python'

In [103]:
# String pasting
x = 'Cake'
y = 'Cookie'
x + ' & ' + y

'Cake & Cookie'

In [106]:
# Repetition of a string
x * 2

'CakeCake'

#### Quotes inside a string

In [107]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [41]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

Remember to **NOT** use only `'` or `"`.

3. `\'` or `\"`

In [108]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

#### Line breaking: using `\n`

In [109]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

Using `'''` or `"""`

In [51]:
multiline='''
Life is too short
You need python
'''
multiline

'\nLife is too short\nYou need python\n'

In [54]:
print(multiline)

Life is too short
You need python

In [55]:
multiline="""
Life is too short
You need python
"""
multiline

'\nLife is too short\nYou need python\n'

In [56]:
print(multiline)

Life is too short
You need python

### Boolean

`A == B` means "is A equal to B?".

In [110]:
True == True

True

`!=` means an opposite question.

In [8]:
False != True

True

In [10]:
False is not True

True

Boolean operations

>`|` or `or`

>`&` or `and`

>`+`, `*` evaluates `True` as 1 and `False` as 0.

In [11]:
True + True

2

In [12]:
True * True

1

In [15]:
True * False

0

In [13]:
True | False

True

In [29]:
True & (not False)

True

In [31]:
2 > 1

True

`not`, `is`, `or`, `and`

In [55]:
True is True

True

In [56]:
False and True

False

In [59]:
False or True is False

False

In [60]:
not True

False

Following values are evaluated as `False` in Python:

>`None` and `False`

> 0, 0.0,

>"", [], {}.

Otherwie, `True` is returned.

In [63]:
False or 5 and 100

100

While `or` and `and` return one of operands,

`not` necessarily returns boolean.

In [64]:
not 100

False

Q. What would the following operation return?

`not (100 or False) and (3 or 1)`

In [69]:
1 or 100

1

In [72]:
'first string' and 'second string'

'second string'

`and` searches FIRST FALSE

`or` searches FIRST TRUE

In [73]:
'' or 'not empty!' or None

'not empty!'

#### The precedence of boolean operations: `not` $\rightarrow$ `and` $\rightarrow$ `or`

#### Level-up: XOR(Exclusive OR operator)

>truth table of XOR

|a|b|a xor b|
|-|-|-|
|False|False|False|
|False|True|True|
|True|False|True|
|True|True|False|

In [87]:
for a in [False, True]:
    for b in [False, True]:
        print(
            (a or b) and not (a and b)
        )

False
True
True
False