In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(np.nan, index=[49,48,47,46,45, 1, 2, 3, 4, 5])
s

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
dtype: float64

In [3]:
s.iloc[:3] # uses position

49   NaN
48   NaN
47   NaN
dtype: float64

In [4]:
s.loc[:3] # uses label

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
dtype: float64

In [66]:
s2 = pd.Series(np.nan, index=['a','b','c','d','e', 1, 2, 3, 4, 5])
s2.loc[:'d']

a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

In [73]:
df = pd.DataFrame({'A_YN': ['Y', 'N', 'N'], 'B_YN': ['N', 'Y', 'N'],'C_FM': ['N', 'N', "N"]})
df

  A_YN B_YN C_FM
0    Y    N    N
1    N    Y    N
2    N    N    N

In [82]:
newdf = pd.DataFrame([['N','Y','Y']], columns=list('ABC'))
newdf

   A  B  C
0  N  Y  Y